services:
  mysql:
    image: mysql:8.4
    container_name: cowmjucraft-mysql
    restart: unless-stopped
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: cowmjucraft_db
      MYSQL_ROOT_PASSWORD: "1234"
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: