spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://cow-mju-craft.cj0ew2ckcug2.ap-northeast-2.rds.amazonaws.com:3306/cowmjucraft_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
    username: admin
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

admin:
  user-id: ${ADMIN_USER_ID:admin}
  password: ${ADMIN_PASSWORD_HASH:$2y$10$bR63tK6Xm9f4UqgMJdeWw.wyCQwBeKx6qlWQ0yxNTonkxijrghjUW}
